@import '../variables.scss';
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $GrayscaleBlack;
    margin-top: 40px;
    &__logo {
        font-weight: 700;
        font-size: 32px;
        line-height: 170%;
    }
}
.nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    &__item {
        &_buttom {
            color: #fff;
            padding: 14px 32px;
            background: $PrimaryBlue100;
        }
        &__image {
            display: none;
        }
    }
}

.footer {
    background: $PrimaryBlue100;
    height: 470px;
    color: #fff;
        &__title {
            position: relative;
            font-size: 32px;
            width: 580px;
            height: 190px;
            padding-top: 80px;
        }
        &__form-input {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 340px;
            left: 850px;
            top: -120px;
            .input {
                font-size: 16px;
                width: 335px;
                height: 50px;
                background: none;
                border: 1px solid #fff;
                padding-left: 15px;
                margin-bottom: 20px;
                &::placeholder {
                color: #fff;
                }
            }
            .button {
                font-size: 14px;
                width: 245px;
                height: 50px;
            }
        }
    &__logo {
        display: flex;
        justify-content: space-between;
        h2 {
            font-size: 32px;
            font-weight: bold;
        }
        a {
            font-size: 32px;
            margin-right: 75px;
        }
    }     
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
    .header {
        padding: 0 50px 0 50px;
        &__logo {
            font-size: 35px;
        }
    }
    .nav {
        width: 480px;
        &__item {
            font-size: 17px;
            &:first-child {
                display: none;
            }
        }
    }
    .footer {
        height: 834px;
        width: 100%;
        &__title {
            padding: 80px 50px 0 50px;
        }
        &__logo {
            padding: 250px 50px 0 50px;
        }
        &__form-input {
            top: 130px;
            left: 50px;
              }
        }
}  
  @media screen and (max-width: 767px) {
    .header {
        margin-top: 15px;
        padding: 15px 15px;
        &__logo {
            font-size: 45px;
        }
    }
    .nav {
        width: auto;
        &__item {
            padding: 30px 35px;
            &:not(:last-child) {
                display: none;
            }
            span {
                display: none;
            }
            &__image {
                display: block;
            }
        }
    }
    .footer {
        height: 834px;
        width: 370%;
        &__title {
            padding: 80px 50px 0 50px;
        }
        &__logo {
            padding: 250px 50px 0 50px;
        }
        &__form-input {
            top: 130px;
            left: 50px;
              }
        }
}  
